*.o
*.obj
*.lo
*.la
*.al
*.a
*.so
*.dll
*.dylib

*.exe
*.out
*.app
a.out

build/
bin/
dist/
Debug/
Release/

*.d
*.dep

imgui.ini       # ImGui settings (position of windows)
*.pdb
*.mod

.vscode/
*.code-workspace

.idea/

*.log

.DS_Store
Thumbs.db

*~
*.bak
*.temp
*.swp
*.swo